################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/quicrq_vs/v16
*.user
/quicrq_lib/x64
/quicrq_test/x64
/quicrq_test_lib/x64
/quicr_st/x64
/x64
/UnitTest/x64
/quicrq_lib/Debug
/quicrq_test_lib/Debug
/quicr_st/Debug
/Debug
/UnitTest/Debug
/quicrq_lib/Release
/quicrq_test/Release/quicrq_test.tlog
/quicrq_test_lib/Release
/quicr_st/Release
/Release
/UnitTest/Release
/.vs/v16
/quicrq_vs
