################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/quicrq_vs/.vs/quicrq_vs/v16/TestStore/0
